.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-logo-qr {
  height: 10vmin;
  pointer-events: none;
}

.App-container{
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #4051db;
  margin-top: 20px;
}

.App-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#map-canvas {
  width: 500px;
  height: 300px;
  border: 4px solid #4051db;
}

#search-text-field {
  margin-bottom: 20px;
}
